<% include header.ejs%>

<h1> Hosting Database</h1>
<!-- error logging -->
<% if (errors!=undefined){%>
<ul>
    <% errors.forEach(function(error){ %>
    <li><%= error.msg%></li>

    <%
    })%>
</ul>
<%}%>

<!-- Adjustable slider for selecting (price)ranges -->
<form method="post" action="/users/find">
    <label>Find all hosting with maximum prices</label>
    <input type="range" name="price" id="priceid" value="<%= price%>" min="30" max="110" oninput="priceoutid.value = priceid.value">
    <output name="priceout" id="priceoutid"><%= price%></output>
    <br><br>
    <input type="submit" value="Find">

</form>

<!-- Table to display query results -->
<h1><%= title %></h1>
<table id="mainTable" border="1px">
        <th onclick="sortTable(0)">Name</th>
        <th onclick="sortTable(1)">Type</th>
        <th onclick="sortTable(2)">Price</th>
    <% users.forEach(function(user){ %>
    <tr> 
        <td><%= user.name%></td>
        <td><%= user.type%></td>
        <td><%= user.price%></td>
    </tr>
    <%
    })%>
</table>

<!-- Show graph after clicking plot button -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<button onclick="plotData()">Plot</button>

<div>
    <canvas id="graph" width="400" height="400"></canvas>
</div>

<% include footer.ejs%>