<% include header.ejs%>

<h1> Hosting Database</h1>
<% if (errors!=undefined){%>
<ul>
    <% errors.forEach(function(error){ %>
    <li><%= error.msg%></li>

    <%
    })%>
</ul>
<%}%>

<form method="post" action="/users/find">
    <label>Find all hosting with maximum prices</label>
    <input type="range" name="price" id="priceid" value="<%= price%>" min="30" max="110" oninput="priceoutid.value = priceid.value">
    <output name="priceout" id="priceoutid"><%= price%></output>
    <br><br>
    <input type="submit" value="Find">

</form>

<h1><%= title %></h1>
<table border="1px">
        <th>Name</th>
        <th>Type</th>
        <th>Price</th>
    <% users.forEach(function(user){ %>
    <tr> 
        <td><%= user.name%></td>
        <td><%= user.type%></td>
        <td><%= user.price%></td>
    </tr>
    <%
    })%>
</table>


<% include footer.ejs%>



<!--Adding a entry to the database-->
<!--<form method="post" action="/users/add">
    <label>First Name</label>
    <input type="text" name="first_name">
    <br>
    <label>Last Name</label><br>
    <input type="text" name="last_name">
    <br>
    <label>Email</label><br>
    <input type="text" name="email">
    <br><br>
    <input type="submit" value="Submit">

</form>-->